.HomePage{
    text-align: center;
    background-color: #E1FFEE;
}

.h1{
    padding-top: 50px;
}

.Button{
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    border: none;
}

.mongodbColor{
    color:green;
}

.nodeColor{
    color:rgb(125, 208, 0);
}

.expressColor{
    color:black;
}

.reactColor{
    color:rgb(11, 201, 201);
}