.FedePage{
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Header{
    padding: 20px;
    text-align: center;
    background: #A0FFE6;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
  }
  
  .Slice{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-top: 320px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
  }
  
  .Description{
    font-size: 30px;
    font-weight: normal;
  }
  
  .BackgroundBlur{
    filter: blur(8px);
  }
  
  .BackgroundImage1{
    background-image: url("img1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(129, 245, 255, 0.334);
  }
  
  .BackgroundImage2{
    background-image: url("img2.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 213, 229, 0.434);
  }
  
  .BackgroundImage3{
    background-image: url("img3.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 221, 0.334);
  }