.Card{
    margin: 5% 20% 10% 20%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    min-height: 150px;
    padding: 10px;
}

.CardTitle{
    font-size: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 5px;
}